.headerBarContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 72px;
  width: 100vw;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 9px -3px rgb(0 0 0 / 20%);
  z-index: 1;
}

.brandContainer {
  /* z-index: 1; */
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 1px 9px -3px rgb(0 0 0 / 20%); */
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer > div {
  font-size: 1.2em;
  font-weight: bold;
}

.logoContainer > img {
  width: 50px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 50%;
}

.brandNameContainer {
  margin-right: 13px;
}

.toolBarContainer {
  position: fixed;
  top: 0;
  left: 256px;
  width: calc(100vw - 256px);
  min-width: 200px;
  height: 72px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.tools {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mail {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: grey;
  cursor: pointer;
  /* margin-left: 8px; */
}

.mail:hover {
  color: rgb(93, 98, 96);
}

.logIn {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.logIn .ant-menu-submenu-title {
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  text-decoration: none;
}

.toolsMenu {
  border: none;
  background-color: #a4a4a4;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolsMenu:hover {
  border: none !important;
  text-decoration: none;
  background-color: rgb(93, 98, 96);
}

/* .anticon.toolsMail {
    color: "gray" !important;
} */

/*remove the mo***r fu****r underline on hover 
  ref: https://stackoverflow.com/questions/54572620/how-to-remove-highlight-from-menu-item-hover-in-ant-design
*/
.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}
