.container {
  position: absolute;
  margin-top: 72px;
  left: 256px;
  right: 0;
  padding: 10em;
  width: calc(100% - 256px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.posts {
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 20px;
}