.mainPageContainer {
    position: absolute;
    top: 72px;
    left: 256px;
    right: 0px;
    background-color: rgb(153, 144, 144);
    height: 100%;
    flex: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
