.sideLayoutSider {
  background: #f0f1f5;
  position: fixed;
  top: 72px;
  left: 0;
  flex: 0 0 256px;
  max-width: 256px;
  min-width: 256px;
  width: 256px;
  height: calc(100vh - 72px);
  /* z-index: 10; */
}

.sideLayoutSiderChildren {
  background: #f0f1f5; /* just for check */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuContainer {
  height: calc(100vh - 120px);
  overflow-x: hidden;
  flex: 1 1;
  padding: 24px 0;
}
