.myProfilePageContainer {
  position: absolute;
  margin-top: 72px;
  padding: 10em;
  left: 256px;
  background-color: rgb(233, 233, 233);
  height: auto;
  width: 83%;
  justify-content: start;
  text-align: center;
  z-index: 0;
  /* overflow:visible; */
}


/* disable border line on click */
button:focus {
  outline: none !important;
}

.profileSubmit {
    position: relative !important;
    left: 5px !important;
    bottom: -20px !important;
    height: 50px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.inputItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center;
    padding: 5px;
    width: 100% !important;
}

.subInputItem {
    /* width: 80%; */
    display: flex;
    align-content: flex-start;
}

.profileFormSize {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}